/* *************************
 * GENERAL STYLE
 ***************************/
* { margin:0; padding:0; box-sizing: border-box; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

html,
body {
  height: 100vh;
}
body {
  font-family: 'open sans', sans-serif;
  font-size: 1.25em;
  display: flex;
  justify-content: center;
  align-items: center;
}
section {
  width: 80vw;
  max-width: 40em;
  background-color: #eee;
  padding: 2em 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background: linear-gradient(to top right, #a7f19b, #7cbae6);
  overflow: hidden;
  border-radius: 0.5em;
  display: grid;
  grid-template-columns: 1.25fr 0.75fr;
}
h1, h2, h3 {
  grid-column: 1/3;
  margin-bottom: .4em; 
}
p {
  grid-column: 1/3;
  margin-bottom: 1em;
  padding-right: 1em;
}
strong {
  text-transform: uppercase;
}
a {
  text-decoration: none;
  color:rgb(0,160,254);
}
a:hover, a:focus {
  color:rgb(0,130,224);
}
iframe, ul, ol {
  grid-column: 1/3;
  margin: 1em;
}
img {
  max-width: 90%;
}
code {
  background-color: #000;
  background: linear-gradient(to bottom, #e8e8e8 0%,#b2b2b2 1.6em,#000000 9%,#000000 100%);
  color: #fff;
  font-size: 1em;
  font-family: monospace;
  border-radius: 0.5em;
  padding: 0 1em 1em 1em;
  grid-column: 1/3;
  white-space: pre;
}
code::before {
  content: "●●";
}
code::first-line {
  color: green;
  font-size: 1.2em;
  line-height: 1.6em;
  letter-spacing: .2em;
  margin-left: -.4em;
}
code::first-letter {
  color: red;
}
cite {
  grid-column: 1/3;
  margin-top: 1em;
  font-size: .8em;
}
blockquote {
  font-family: serif;
  border-left: .4em solid #ccc;
  margin: 1em .4em;
  padding: 0.5em 10px;
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote cite {
  display: block;
  margin: .2em 40px;
  font-style: italic;
  font-size: .8em;
}

.fullscreen {
  position:absolute;
  top:350px;
  font-size:48px;
}

/* END JOOST CSS */

 /* Impress addons */
impress-enabled div#impress-toolbar {
    position: fixed;
    right: 1px;
    bottom: 1px;
    opacity: 0.8;
    z-index: 10;
}
.impress-enabled div#impress-toolbar > span {
    margin-right: 10px;
}
body.impress-mouse-timeout div#impress-toolbar {
    display: none;
}
body.impress-mouse-timeout {
    cursor: none;
}
.impress-progressbar {
  position: absolute;
  right: 118px;
  bottom: 1px;
  left: 118px;
  border-radius: 7px;
  border: 2px solid rgba(100, 100, 100, 0.2);
}
.impress-progressbar DIV {
  width: 0;
  height: 2px;
  border-radius: 5px;
  background: rgba(75, 75, 75, 0.4);
  transition: width 1s linear;
}
.impress-progress {
  position: absolute;
  left: 59px;
  bottom: 1px;
  text-align: left;
  font-size: 10pt;
  opacity: 0.6;
}
.impress-enabled #impress-help {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.5);
    color: #EEEEEE;
    font-size: 80%;
    position: fixed;
    left: 2em;
    bottom: 2em;
    width: 24em;
    border-radius: 1em;
    padding: 1em;
    text-align: center;
    z-index: 100;
    font-family: Verdana, Arial, Sans;
}
.impress-enabled #impress-help td {
    padding-left: 1em;
    padding-right: 1em;
}
/*******************************
 * FALLBACK MESSAGE
  ******************************/
.fallback-message {
  font-family: sans-serif;
  line-height: 1.3;
  width: 780px;
  padding: 10px 10px 0;
  margin: 20px auto;
  border: 1px solid #E4C652;
  border-radius: 10px;
  background: #EEDC94;
}
.fallback-message p {
  margin-bottom: 10px;
}
.impress-supported .fallback-message {
  display: none;
}

/***************************************
 * SLIDE
 ***************************************/

.step { }
.slide { }
.summary, .dark { }

/******************************
 * STEPS
 ******************************/
.step {
  position: relative;
  margin: 20px auto;
}
.impress-enabled .step {
  opacity: 0.3;

  -webkit-transition: opacity 1s;
  -moz-transition:    opacity 1s;
  -ms-transition:     opacity 1s;
  -o-transition:      opacity 1s;
  transition:         opacity 1s;
}

.impress-enabled .step.active {
  opacity: 1
}

/******************************
 * NOTES
 ******************************/
.notes {
    display: none;
}

/*************************************
 * UNIQUE STEPS
 ************************************/
 #first code {
  grid-column: 2/3;
 }
 #first img {
    width: 25vw;
 }

 #vcs img {
  grid-column: 2/3;
 }
 #vcs article {
  grid-column: 1/2;
 }

 